*
{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  background: grey;
}

:root 
{
  --comp-color: white;
  --bg-color:rgb(231, 230, 230);
}
.App 
{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container
{
  background: var(--bg-color);
  height: 98%;
  width: 99%;
  border-radius: 20px;
  /* padding: 10px; */
  display: flex;
}

/* ENTERTAINMENT PANEL */

.main-container .ent-panel
{
  flex: 0.2;
  background: transparent;
  margin: 5px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.main-container .ent-panel .header
{
  padding: 15px 10px;
  border-radius: 20px;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
  background: var(--comp-color);
}

.main-container .ent-panel .spotify-panel
{
  flex: 0.5;
  border-radius: 20px;
  padding: 10px;
  background: var(--comp-color);
}

.main-container .ent-panel .social-media-panel
{
  flex: 0.1;
  border-radius: 20px;
  padding: 10px;
  background: var(--comp-color);
}

.main-container .ent-panel .todo-panel
{
  flex: 0.5;
  border-radius: 20px;
  padding: 10px;
  background: var(--comp-color);
}














.main-container .working-area
{
  flex: 0.6;
  background: yellow;
  margin: 5px;
  border-radius: 20px;
}

/* WORK PANEL  */

.main-container .work-panel
{
  flex: 0.2;
  background: transparent;
  margin: 5px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.main-container .work-panel .header 
{
  padding: 15px 10px;
  border-radius: 20px;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
  background: var(--comp-color);
  
}

.main-container .work-panel .files-panel
{
  flex: 0.5;
  border-radius: 20px;
  padding: 10px;
  background: var(--comp-color);
}

.main-container .work-panel .mails-panel
{
  flex: 0.5;
  border-radius: 20px;
  padding: 10px;
  background: var(--comp-color);
}