
:root 
{
  --comp-color: white;
  --bg-color:rgb(231, 230, 230);
}

*
{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  background: var(--bg-color);
}
.App 
{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container
{
  /* background: var(--bg-color); */
  height: 98%;
  width: 99%;
  border-radius: 20px;
  /* padding: 10px; */
  display: flex;
}

/* ENTERTAINMENT PANEL */

.main-container .ent-panel
{
  flex: 0.2;
  background: transparent;
  margin: 5px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.main-container .ent-panel .header
{
  padding: 15px 10px;
  border-radius: 20px;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
  background: var(--comp-color);
}

.main-container .ent-panel .spotify-panel
{
  flex: 0.5;
  border-radius: 20px;
  padding: 10px;
  background: var(--comp-color);
}

.main-container .ent-panel .social-media-panel
{
  flex: 0.1;
  border-radius: 20px;
  padding: 10px 12px;
  background: var(--comp-color);
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}

.main-container .ent-panel .social-media-panel .sm-links
{
  padding: 5px 10px;
  /* border-radius: 50%; */
  display: flex;
  background-color: transparent;
  cursor: pointer;
  transform: scale(1.4);
  align-items: center;
  justify-content: center;
}

.main-container .ent-panel .mails-panel
{
  flex: 0.5;
  border-radius: 20px;
  padding: 10px;
  background: var(--comp-color);
}


/* WORKING AREA  */

.main-container .working-area
{
  flex: 0.6;
  background: var(--comp-color);
  margin: 10px 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* padding: 5px; */ 
  align-items: center;
  justify-content: center;
}

.main-container .working-area .filler
{
  font-size: 2.5rem;
  font-weight:bold;
  background: transparent;
  color: rgb(219, 217, 217);
  user-select: none;

}

/* WORK PANEL  */

.main-container .work-panel
{
  flex: 0.2;
  background: transparent;
  margin: 5px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.main-container .work-panel .header 
{
  padding: 15px 10px;
  border-radius: 20px;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
  background: var(--comp-color);
  
}

.main-container .work-panel .files-panel
{
  flex: 0.5;
  border-radius: 20px;
  padding: 10px;
  background: var(--comp-color);
}

.main-container .work-panel .todo-panel
{
  flex: 0.5;
  border-radius: 20px;
  padding: 10px;
  background: var(--comp-color);
}

.main-container .work-panel .calender-panel
{
  flex: 0.5;
  border-radius: 20px;
  padding: 10px;
  background: var(--comp-color);
  /* color: black; */
}

